<div class="row margin-0">
  <div class="col s12 m12 l8 push-l4" >
    <div *ngIf="more_info">
      <div class="card-panel grey lighten-3 rounded-2 z-depth-0 padding-y-5">
        <div class="center-wrapper"><div class="icon-box-bg blue transparent-4 center-wrapper blue-text text-darken-2 circle margin-right-3 white-border"><i class="material-icons small">person</i></div></div>

        <h5 class="bold center-align">Chelsei Haley</h5>
        <h6 class="medium grey-text text-darken-1 center-align">chelseihaley@gamil.com</h6>
        <div class="center-wrapper margin-top-4">
          <button class="btn-floating z-depth-0 white black-text margin-x-2"><i class="material-icons">local_phone</i></button>
          <button class="btn-floating z-depth-0 white black-text margin-x-2"><i class="material-icons">store</i></button>
          <button class="btn-floating z-depth-0 white black-text margin-x-2"><i class="material-icons">more_vert</i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4  pull-l8">
    <div>
      <section class="padding-top-4 padding-bottom-2 padding-x-1">
    <div class="margin-top-0 margin-bottom-2 valign-wrapper">
    <h5 class="bold margin-0">Customers</h5>
  </div>
  <div> <span class="badge blue-text blue transparent-4  rounded-1 margin-y-0 text-darken-2">200+</span></div>
  <div class="card-panel valign-wrapper padding-y-0 rounded-1 padding-x-2 z-depth-0 border">
    <i class="material-icons prefix">search</i>
  <input type="text" class="material-outline z-depth-0 border-0" placeholder="Search">
</div>
</section>
<section class="customer-list overflow-auto padding-x-1">
<div class="card-panel rounded-2 valign-wrapper z-depth-0 border customer-card" (click)="show_more_info()">
  <div class="icon-box blue transparent-4 center-wrapper blue-text text-darken-2 circle margin-right-3"><i class="material-icons smaller">person</i></div>
  <div>
    <h6 class="margin-0 bold">Chelsei Haley</h6>
    <div class="medium grey-text text-darken-1">chelseihaley@gamil.com</div>
  </div>
</div>
<div class="card-panel rounded-2 valign-wrapper z-depth-0 border customer-card" (click)="show_more_info()">
  <div class="icon-box blue transparent-4 center-wrapper blue-text text-darken-2 circle margin-right-3"><i class="material-icons smaller">person</i></div>
  <div>
    <h6 class="margin-0 bold">Chelsei Haley</h6>
    <div class="medium grey-text text-darken-1">chelseihaley@gamil.com</div>
  </div>
</div>
<div class="card-panel rounded-2 valign-wrapper z-depth-0 border customer-card" (click)="show_more_info()">
  <div class="icon-box blue transparent-4 center-wrapper blue-text text-darken-2 circle margin-right-3"><i class="material-icons smaller">person</i></div>
  <div>
    <h6 class="margin-0 bold">Chelsei Haley</h6>
    <div class="medium grey-text text-darken-1">chelseihaley@gamil.com</div>
  </div>
</div>
<div class="card-panel rounded-2 valign-wrapper z-depth-0 border customer-card" (click)="show_more_info()">
  <div class="icon-box blue transparent-4 center-wrapper blue-text text-darken-2 circle margin-right-3"><i class="material-icons smaller">person</i></div>
  <div>
    <h6 class="margin-0 bold">Chelsei Haley</h6>
    <div class="medium grey-text text-darken-1">chelseihaley@gamil.com</div>
  </div>
</div>
</section>
</div>
  </div>

</div>

