<div>
  <h5 class="bold margin-left-4 margin-y-4">Cloudforte</h5>
  <div class="divider"></div>
</div>
<div class="margin-top-3">
<div class="uppercase grey-text margin-left-4 medium">Overview</div>
<ul class="menu margin-top-1 margin-bottom-4">
  <li class="margin-y-1"><a routerLink="dashboard" routerLinkActive="active" class="rounded-2 valign-wrapper space-between">Dashboard <span class="new badge white-text emerald rounded-1 margin-y-0 margin-left-2" badge-caption="new"></span></a></li>
  <li class="margin-y-1"><a href="" class="rounded-2">Agencies</a></li>
  <li class="margin-y-1"><a routerLink="customers" routerLinkActive="active" class="rounded-2 valign-wrapper space-between">Customers <span class="new badge white-text emerald rounded-1 margin-y-0 margin-left-2" badge-caption="new"></span></a></li>
  <li class="margin-y-1"><a routerLink="tracking" routerLinkActive="active" class="rounded-2 valign-wrapper space-between">Tracking <span class="new badge white-text emerald rounded-1 margin-y-0 margin-left-2" badge-caption="new"></span></a></li>
  <li class="margin-y-1"><a routerLink="packages" routerLinkActive="active" class="rounded-2 valign-wrapper space-between">Packages <span class="badge white-text blue rounded-1 margin-y-0 margin-left-2">24</span></a></li>

</ul>
<div class="uppercase grey-text margin-left-4 medium">Approval</div>
<ul class="menu margin-top-1 margin-bottom-4">
  <li class="margin-y-1"><a href="" class="rounded-2">Payroll</a></li>
  <li class="margin-y-1"><a href="" class="rounded-2">Invoice</a></li>
</ul>
<div class="uppercase grey-text margin-left-4 medium">Account</div>
<ul class="menu margin-top-1 margin-bottom-4">
  <li class="margin-y-1"><a routerLink="profile" routerLinkActive="active" class="rounded-2 valign-wrapper space-between">Profile <span class="new badge white-text emerald rounded-1 margin-y-0 margin-left-2" badge-caption="new"></span></a></li>
</ul>
</div>
