.icon-box{
  height:40px;
  width:40px;
}
.icon-box-bg{
  height:60px;
  width:60px;
}

.border{
  border: 1px solid #e0e0e0;
  }
.track-list{
  height: calc(100vh - 160px);
}


.b-2px{
  border-width: 2px;
}
