<section class="card-panel d-flex rounded-2 z-depth-0 border">
  <div class="valign-wrapper">
  <div class="icon-box blue transparent-4 circle blue-text text-darken-2 center-wrapper margin-right-3"><i class="material-icons small">person</i></div>
</div>
  <div>
  <h5 class="bold margin-0">{{user.first_name}} {{user.last_name}}</h5>
  <h6 class="medium grey-text valign-wrapper"><i class="material-icons margin-right-2">mail</i>{{user.email}}</h6>
  <h6 class="medium grey-text valign-wrapper"><i class="material-icons margin-right-2">phone</i>{{user.phone_number}}</h6>
</div>
  <!-- <div>{{user.first_name}}</div> -->
</section>
<section  class="card-panel rounded-2 z-depth-0 border">
  <div class="valign-wrapper space-between">
    <h5 class="bold margin-0">Personal Information</h5>
    <button class="btn-outline rounded-pill">Edit <i class="material-icons smallest margin-left-2">edit</i></button>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <p class="medium grey-text">First Name</p>
      <h6 class="bold">Rafiqur</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Last Name</p>
      <h6 class="bold">Rahman</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Email</p>
      <h6 class="bold">rafiqurraman51@gmail.com</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Phone Number</p>
      <h6 class="bold">+234 9704848030</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Bio</p>
      <h6 class="bold">Team Leader</h6>
    </div>
  </div>

</section>
<section  class="card-panel rounded-2 z-depth-0 border">
  <div class="valign-wrapper space-between">
  <h5 class="bold margin-0">Address</h5>
  <button class="btn-outline rounded-pill">Edit <i class="material-icons smallest margin-left-2">edit</i></button>
</div>
  <div class="row">
    <div class="col s12 m6">
      <p class="medium grey-text">Country</p>
      <h6 class="bold">United Kingdom</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">City/State</p>
      <h6 class="bold">Leeds, East London</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Postal Code</p>
      <h6 class="bold">EST 2354</h6>
    </div>
    <div class="col s12 m6">
      <p class="medium grey-text">Tax ID</p>
      <h6 class="bold">AS4564756</h6>
    </div>
  </div>

</section>
