<section class="d-flex space-between padding-x-2 flex-wrap">
  <div>
  <div>
  <h5 class="bold">The Overview Admin</h5>
  <p><span class="bold">Monday</span> 21 April 2022</p>
</div>
</div>
<div class="valign-wrapper">
  <button class="btn-floating blue-outline btn-outline z-depth-0 flex-shrink-0">
    <i class="material-icons smallest">add_link</i>
  </button>
  <button class="btn-outline blue-outline rounded-pill z-depth-0 margin-left-4">Long Shipping</button>
  <div class="vr margin-x-4"></div>
  <button class="btn rounded-pill z-depth-0 blue"><i class="material-icons padding-right-1">add</i>New Shipping</button>
</div>
</section>
<section>
  <div class="row margin-0">
    <div class="col s12 m6 l4">
      <div class="card rounded-2 z-depth-0 border">
        <div class="card-content d-flex space-between">
          <div>
            <h6 class="bold">Total Shipments</h6>
            <p class="uppercase grey-text">csc/total: 40%</p>
          </div>
          <div>
            <div class="icon-box purple lighten-4 d-inline-flex center-wrapper circle">
              <i class="material-icons purple-text text-darken-3">local_shipping</i>
            </div>
          </div>
        </div>
         <div class="card-content padding-y-0">
          <div class="divider grey-text text-lighten-2"></div>
         </div>
        <div class="card-content valign-wrapper padding-y-3">
          <h5 class="margin-0 bold">488</h5><div class="margin-left-2 valign-wrapper grey-text"><i class="material-icons green-text">arrow_drop_up</i><span class="green-text margin-right-2 medium">400</span> Packages</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card rounded-2 z-depth-0 border">
        <div class="card-content d-flex space-between">
          <div>
            <h6 class="bold">Pending Packages</h6>
            <p class="uppercase grey-text">csc/total: 40%</p>
          </div>
          <div>
            <div class="icon-box red lighten-4 d-inline-flex center-wrapper circle">
              <i class="material-icons crimson-text text-darken-1">autorenew</i>
            </div>
          </div>
        </div>
         <div class="card-content padding-y-0">
          <div class="divider grey-text text-lighten-2"></div>
         </div>
        <div class="card-content valign-wrapper padding-y-3">
          <h5 class="margin-0 bold">235</h5><div class="margin-left-2 valign-wrapper grey-text"><i class="material-icons red-text">arrow_drop_down</i><span class="red-text margin-right-2 medium">86</span> Packages</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card rounded-2 z-depth-0 border">
        <div class="card-content d-flex space-between">
          <div>
            <h6 class="bold">Delivery Shipments</h6>
            <p class="uppercase grey-text">csc/total: 40%</p>
          </div>
          <div>
            <div class="icon-box blue lighten-4 d-inline-flex center-wrapper circle">
              <i class="material-icons blue-text text-darken-3">airlines</i>
            </div>
          </div>
        </div>
         <div class="card-content padding-y-0">
          <div class="divider grey-text text-lighten-2"></div>
         </div>
        <div class="card-content valign-wrapper padding-y-3">
          <h5 class="margin-0 bold">10,658</h5><div class="margin-left-2 valign-wrapper grey-text"><i class="material-icons green-text">arrow_drop_up</i><span class="green-text margin-right-2 medium">648</span> Packages</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row margin-0">
    <div class="col s12 m12 l7">
      <div class="card rounded-2 z-depth-0 border">
        <div class="card-content d-flex space-between flex-wrap">
          <div class="margin-y-1">
            <h6 class="bold valign-wrapper margin-0">Statistics</h6>
            <p class="grey-text margin-0">Shipment Statistics</p>
          </div>
          <div class="valign-wrapper margin-y-1">
            <div class="btn-outline btn-sm blue-outline z-depth-0 rounded-pill medium">
              Days
            </div>
            <div class="btn-outline btn-sm blue-outline z-depth-0 rounded-pill margin-x-3 medium">
              Weeks
            </div>
            <div class="btn-outline btn-sm blue-outline z-depth-0 rounded-pill medium">
              Years
            </div>
          </div>
        </div>
         <div class="card-content padding-y-0">
          <div class="divider grey-text text-lighten-2"></div>
         </div>
         <div class="card-content"></div>
      </div>
    </div>
    <div class="col s12 m12 l5">
      <div class="card rounded-2 z-depth-0 border">
        <div class="card-content d-flex space-between">
          <div>
            <h6 class="bold valign-wrapper margin-0">Popular Agencies <div class="blue-text icon-box-sm border center-wrapper circle margin-left-2">?</div></h6>
            <p class="uppercase grey-text margin-0">2016 - 2023</p>
          </div>
          <div>
            <div class="btn-floating transparent z-depth-0 border">
              <i class="material-icons grey-text">more_vert</i>
            </div>
          </div>
        </div>
         <div class="card-content padding-y-0">
          <div class="divider grey-text text-lighten-2"></div>
         </div>
        <div class="card-content padding-y-3">
         <div class="d-flex space-between">
          <div class="grey-text"><span class="bold black-text">600</span> agencies</div>
          <a href="" class="bold">show more</a>
         </div>
         <div>
         </div>
        </div>
        <div class="card-content padding-top-0 padding-bottom-3">
          <ul class="collection border-0">
            <li class="collection-item avatar border-bottom-0">
              <div class="avatar-block">
                <div class="circle grey"></div>
                <span class="title bold">Qirak Chiro AJ</span>
                <p class="grey-text bold">Jakarta, Indonesia</p>
              </div>
              <div class="secondary-content d-flex grey-text"><h6 class="margin-0 bold black-text margin-right-1">488</h6>Sent</div>
            </li>
            <li class="collection-item avatar border-bottom-0">
              <div class="avatar-block">
                <div class="circle grey"></div>
                <span class="title bold">Qirak Chiro AJ</span>
                <p class="grey-text bold">Jakarta, Indonesia</p>
              </div>
              <div class="secondary-content d-flex grey-text"><h6 class="margin-0 bold black-text margin-right-1">488</h6>Sent</div>
            </li>
            <li class="collection-item avatar border-bottom-0">
              <div class="avatar-block">
                <div class="circle grey"></div>
                <span class="title bold">Qirak Chiro AJ</span>
                <p class="grey-text bold">Jakarta, Indonesia</p>
              </div>
              <div class="secondary-content d-flex grey-text"><h6 class="margin-0 bold black-text margin-right-1">488</h6>Sent</div>
            </li>
            <li class="collection-item avatar border-bottom-0">
              <div class="avatar-block">
                <div class="circle grey"></div>
                <span class="title bold">Qirak Chiro AJ</span>
                <p class="grey-text bold">Jakarta, Indonesia</p>
              </div>
              <div class="secondary-content d-flex grey-text"><h6 class="margin-0 bold black-text margin-right-1">488</h6>Sent</div>
            </li>
          </ul>
         <div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
